body {
    margin: 0 auto;
}

img {
    grid-area: picture;
    border-radius: 5%;
    height: 500px;
    width: 500px;
    margin: 100px;
}

.container {
    display: grid;
    grid-template-areas: "text picture";
    gap: 40px;
}

.text {
    grid-area: text;
    margin: 50px;
}

